PySide6==6.6.1
PySide6-Addons==6.6.1
SQLAlchemy==2.0.22
alembic==1.12.1
APScheduler==3.10.4
cryptography==41.0.7
python-dotenv==1.0.0
passlib[argon2]==1.7.4
openpyxl==3.1.2
pydantic==1.10.13
reportlab==4.0.7
WeasyPrint==61.2
pandas==2.1.1
